@media screen and (min-width: 724px){
  
}



@media screen and (min-width: 1024px){
    .content{
      display: flex;
      align-items: center;
    } .parceiros{
       margin: 0 auto;
    } .content-box-title{
     
      margin: 0 auto;
    } #icon{
        width: 600px;
        margin: 0 auto;
        height: 400px;
        margin-top: 10px;
        margin-bottom: 40px;
    }  .about{
      display: flex;
      align-items: center;
      flex-direction: row-reverse;
      
    } 
    
    img {
      width: 500px;
      height: 500px;
    } .box-content{
      display: grid;
      grid-template-columns: repeat(4, 1fr);
   
    }  
  }